{% extends 'contract_app/base.html' %}
{% block title %}
    进口合同查询
{% endblock title %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock custom_css %}

{% block content %}
    <div class="search" >
        <div class="contract">
            <form method="post" action="/index">
                {% csrf_token %}
                <h3 class="page-title">合同号</h3>
                <input type="text" class="form-control" name="contract" placeholder="请输入合同号" autocomplete="on">
                <br>
                <input type="submit" value="查询" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
{#合同信息#}
    <div class="table_set">
        <h4 class="font">合同信息:</h4>
        <table  class="table table-bordered">
            <tr bgcolor="#f3f3f3">
                <th style="text-align:center;">合同号</th>
                <th style="text-align:center;">供应商</th>
                <th style="text-align:center;">代理</th>
                <th style="text-align:center;">类型</th>
                <th style="text-align:center;">货物</th>
                <th style="text-align:center;">采购订单</th>
                <th style="text-align:center;">货值</th>
                <th style="text-align:center;">币种</th>
                <th style="text-align:center;">贸易术语</th>
                <th style="text-align:center;">发货时间</th>
            </tr>
        {% for contract in contracts%}
            <tr bgcolor="#f0ffff" align="center">
            <td align="center">
                {{ contract.Zhth }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Supplier }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Agent }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Zleix }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Goods }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Ebeln }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Netpr }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Waers }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Inco2 }}
            </td>
            <td bgcolor="#f0ffff">
                {{ contract.Zjhrq }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{#付款信息#}
    <div class="table_set">
        <h4 class="font">付款信息:</h4>
        <table  class="table table-bordered">
            <tr bgcolor="#f3f3f3">
                <th style="text-align:center;">合同号</th>
    {#            <th>预付时间</th>#}
                <th style="text-align:center;">付款方式</th>
                <th style="text-align:center;">预付金额</th>
                <th style="text-align:center;">货币码</th>
                <th style="text-align:center;">实际预付时间</th>
            </tr>
        {% for fk in fks%}
            <tr bgcolor="#f0ffff" align="center">
            <td align="center">
                {{ fk.Zhth }}
            </td>
    {#        <td bgcolor="#f0ffff">#}
    {#            {{ fk.Zyfsj }}#}
    {#        </td>#}
            <td bgcolor="#f0ffff">
                {{ fk.Zfkfs }}
            </td>
            <td bgcolor="#f0ffff">
                {{ fk.Zyfje }}
            </td>
            <td bgcolor="#f0ffff">
                {{ fk.Waers }}
            </td>
            <td bgcolor="#f0ffff">
                {{ fk.Zyfsj }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

{#提单信息#}

    <div class="table_set">
        <h4 class="font">提单信息:</h4>
        <table  class="table table-bordered">
            <tr bgcolor="#f3f3f3">
                <th style="text-align:center;">合同号</th>
                <th style="text-align:center;">提单号</th>
                <th style="text-align:center;">最晚发货日</th>
                <th style="text-align:center;">到货时间</th>
                <th style="text-align:center;">货值</th>
                <th style="text-align:center;">货币码</th>
                <th style="text-align:center;">报关单号</th>
                <th style="text-align:center;">出税日期</th>
                <th style="text-align:center;">增值税</th>
                <th style="text-align:center;">关税</th>
                <th style="text-align:center;">总额</th>
            </tr>
        {% for ztd in ztds%}
            <tr bgcolor="#f0ffff" align="center">
            <td align="center">
                {{ ztd.Zhth }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Tdno }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zfhrq }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zdhsj }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zfhhz }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Waers }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zbgd }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zcsrq }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zzzs }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zgs }}
            </td>
            <td bgcolor="#f0ffff">
                {{ ztd.Zze }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

{#代理信息#}
    <div class="table_set">
        <h4 class="font">代理信息:</h4>
        <table  class="table table-bordered">
            <tr bgcolor="#f3f3f3">
                <th style="text-align:center;">合同号</th>
                <th style="text-align:center;">提单号</th>
                <th style="text-align:center;">报关代理</th>
                <th style="text-align:center;">报关费用</th>
                <th style="text-align:center;">货币码</th>
                <th style="text-align:center;">发票号</th>
                <th style="text-align:center;">转财务日期</th>
            </tr>
        {% for zdl in zdls%}
            <tr bgcolor="#f0ffff" align="center">
            <td align="center">
                {{ zdl.Zhth }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Tdno }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Zbgdl }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Zbgfy }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Waers }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Zfph }}
            </td>
            <td bgcolor="#f0ffff">
                {{ zdl.Zcwrq }}
            </td>

        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}